table{
    width: 100%;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    text-align: left;
}

tr{
    padding: 0 15px;
    box-sizing: border-box;
    background-color: white;
}

td{
    height: 40px;
    border-bottom: 1px solid #cccccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
